<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <!--<%= "Team Name: #{@team[:name]}" %>-->
   <!--<%= "Coach: #{@team[:coach]}" %>-->
   <!--<%= "Point Guard: #{@team[:pointguard]}" %>-->
   <!--<%= "Shooting Guard: #{@team[:shootingguard]}" %>-->
   <!--<%= "Small Forward: #{@team[:smallforward]}" %>-->
   <!--<%= "Power Forward: #{@team[:powerfoward]}" %>-->
   <!--<%= "Center: #{@team[:center]}" %>-->
   
   Team Name: <%= "#{@name}" %>
   Coach: <%= "#{@coach}" %>
   Point Guard: <%= "#{@pg}" %>
   Shooting Guard: <%= "#{@sg}" %>
   Small Forward: <%= "#{@sf}" %>
   Power Forward: <%= "#{@pf}" %>
   Center: <%= "#{@center}" %>
 </body>
</html>


